.carousel-control-prev-icon {
    position: absolute;
    left: -20px;
}

.carousel-control-next-icon {
    position: absolute;
    right: -20px;
}

.carousel-indicators {
    position: absolute;
    bottom: -25px;
}

.bottm {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.bottm > li {
    display: inline-block;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.base{
    height: 90vh;
    margin: 20px;
    padding: 40px;
}
.left{
    text-align:left;
    float:left;
}
.right{
    text-align:right;
    float:right;
}